*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  padding: 2px;
  font-size: 20px;
}

h1{
  font-size: 1rem;
}

img{
  width: -webkit-fill-available;
}

.katalog-grid {
  
}

.image-front{
  /*max-width: 50px;*/
}

.image-right{
  /*max-width: 150px;*/
}

.card{
  border-bottom: 1px solid rgb(0, 0, 0);
}

.card-title {
}

.card-content {
  display: flex;
}

img {
  width: 25vw;
}

.can-info {
  padding-top: 3vh;
  padding-left: 2vw;
}

.title {
  font-family: Helvetica;
  font-size: 8vh;
  padding-top: 4vw;
  padding-bottom: 5vh;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}